.square {
  float: left;
  line-height: 16vh;
  height: 20vh;
  width: 18%;
  margin-right: 10px;
  text-align: center;
}

.dnd-drag-start {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.7;
  border: 1px dashed #000;
}

.theGround {
  height: 83vh;
}

.glyphicon-grain {
  color: green;
}

.product {
  width: auto;
  height: auto;
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
}

.product_name,
.product_price,
.product_quantity {
  margin-top: 15px;
}

.product_price {
  border-bottom: 1px solid rgba(136, 136, 136, .6);
  display: inline-block;
}

.modal-content {
  height: auto;
}

.pagination {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,-50%);
    
  /*display: table;
  margin: 0 auto;*/
}
.warehouse {
    position: relative;
    height: 83vh;
}
.filter-input {
  display: block;
  margin: 0 auto 10px auto;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  outline: none;
}
group_input_filter {
  position: relative;
}
.bar {
  display: block;
  margin: 0 auto;
  position:relative; display:block; width:190px;
  top: -9.5px;
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#3C763D; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
/* active state */
.filter-input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.form-shop {
  padding-top: 15px;
  padding-bottom: 15px;
}
.red {
  color: red;
}