<div class="container">
  <div class="row">

    <div class="col-md-3">
      <level-user #level></level-user>
    </div>
    <div class="col-md-3  pull-right">
      <money #money></money>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-success warehouse">
        <div class="panel-heading">Available products</div>
        <div class="panel-body">
          <div *ngFor="let product of pageFruits" class="panel panel-default" dnd-draggable [dragEnabled]="product.quantity>0" [dragData]="product"
            (onDragSuccess)="orderedProduct($event)" [dropZones]="['demo1']">
            <div class="panel-body">
              <div [hidden]="product.quantity===0">{{product.name}}<br>(available: {{product.quantity}})</div>
              <div [hidden]="product.quantity>0">
                <del>{{product.name}}</del><br>(NOT available)</div>
            </div>
          </div>
          <!-- pager -->
          <div>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <my-shop (outputShop)="getValueFromShop($event)"></my-shop>
    </div>
    <div class="col-md-8">
      <div dnd-droppable ([ngModel])="check" [dropEnabled]="check" (onDropSuccess)="addToBasket($event)" [dropZones]="['demo1']"
        class="panel panel-info theGround">
        <div class="panel-heading">The Ground<br>(total: {{total()}})</div>
        <div class="panel-body">
          <div *ngFor="let product of shoppingBasket; let i = index" class="panel panel-default square">
            <span class="glyphicon glyphicon-trash" style="float:right;margin:5px;" (click)="destroyaPlant(i)"></span>
            <span class="glyphicon glyphicon-grain" (click)="money.updateYourMoney(product.reward)" style="float:left;margin:5px;" (click)="destroyaPlant(i)"
              (click)="level.AddPercents(product.exp)"></span>
            <div class="panel-body">
              {{product.name}}
              <!--<br>({{product.date | date:'short'}})-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button type="button" name="button" class="btn btn-success" (click)="logOut()">Log out</button>
      <br>
      <img dnd-draggable src="assets/img/sprinkler.png" alt="">
    </div>

  </div>
</div>
