<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success pull-right" (click)="staticModal.show()">Sign Up</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-push-4" style="border: 1px solid #CCCCCC; border-radius:5px; padding-bottom: 20px; margin-top:50px">
      <h3 style="text-align:center;  padding-bottom:5px">Sign In</h3>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="name" class="form-control " required minlength="4" maxlength="24" name="name" ngModel #name="ngModel">
          <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert_danger">
            <div [hidden]="!name.errors.required"><span class="glyphicon glyphicon-warning-sign"></span> Name is required</div>
            <div [hidden]="!name.errors.minlength">Username has at least 4 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control " id="pwd" #password>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <div class=" alert_danger" [hidden]="messageLogin==''">{{messageLogin}}</div>
        <button type="submit" class="btn btn-primary" style="display:block; width:100%" (click)="vadidateForm(name.value, password.value)">Sign In</button>
      </form>
    </div>
  </div>

</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Sign Up</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide(); f.reset(); setMessage()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="signUp()" [formGroup]="signupForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="name" class="form-control " formControlName="emailSignup">
            <div *ngIf="signupForm.get('emailSignup').errors && (signupForm.get('emailSignup').dirty || signupForm.get('emailSignup').touched)" class="alert_danger">
              <div [hidden]="!signupForm.get('emailSignup').errors.required">Email is required</div>
              <div [hidden]="!signupForm.get('emailSignup').errors.minlength">Username has at least 4 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" formControlName="password" >
            <div *ngIf="signupForm.get('password').errors && (signupForm.get('password').dirty || signupForm.get('password').touched)" class=" alert_danger">
              <div [hidden]="!signupForm.get('password').errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Confirm Password</label>
            <input type="password" class="form-control" formControlName="passwordConfirm">
             <div *ngIf="signupForm.get('passwordConfirm').errors && (signupForm.get('passwordConfirm').dirty || signupForm.get('passwordConfirm').touched)" class=" alert_danger">
              <div [hidden]="!signupForm.get('passwordConfirm').errors.required">Confirm Password is required</div>
            </div>
          </div>
          <div [ngClass]="{'alert_danger': !(messageSignup==='singup done!'), 'alert-success': messageSignup==='singup done!'}"
            [hidden]="messageSignup==''">{{messageSignup}}</div>
          <button type="submit" class="btn btn-primary" style="display:block; width:100%" [disabled]="!f.valid">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
