<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" name="button" class="btn btn-success pull-right" >Sign up</button>
      <button type="button" class="btn btn-primary pull-right" (click)="staticModal.show()" style="margin-right:10px;">Sign in</button>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Sign in</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" id="name" class="form-control" required minlength="4" maxlength="24" name="name" ngModel #name="ngModel">
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.required">Name is required</div>
              <div [hidden]="!name.errors.minlength">Username has at least 4 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" #password>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
          <div class="alert alert-danger" [hidden]="message==''">{{message}}</div>
          <button type="submit" class="btn btn-default" (click)="vadidateForm(name.value, password.value)">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

